.summary{
  display:inline-block; 
  vertical-align: top;
  margin-top: 5px; 
}
.summary-table{
  border:1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding:1px;
  font-size: 14px;
  width: 100%;
}
.summary-table thead th{  
  background-color: #B0C4DE;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
  padding-right: 0px; 
}
.summary-table tbody tr th{
  padding-left: 15px;
}
.summary-table tbody tr td{
  padding-right: 15px;
}
.summary-table tbody tr:first-child{
  text-align: center; 
}

.summary-table tbody th {
  text-align: left;
}
